---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//body { font-size: 16; }

$primary-color : #222222;
$text-color    : #222222;
$link-color    : #3b5998;
$border-radius : 5px;
//$sans-serif : "Open Sans", sans-serif;
$sans-serif : "Raleway", serif;
$serif      : "Raleway", serif;
/* $caption-font-family : "Raleway", sans-serif; */

@import "minimal-mistakes";
